<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UI.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
    <appSettings>
      <!--Validaciones-->
      <add key="existe" value="2627"/> 
      <!--Language-->
      <add key="folderLang" value="lang\\"/> 
      <add key="fileEs" value="es.txt"/> 
      <add key="fileEn" value="en.txt"/> 
      <!--Tipo Movimiento Producto-->
      <add key="ingresoStock" value="1"/> 
      <add key="egresoStock" value="2"/> 
      <add key="ajusteInflacion" value="3"/>
      <!--Tipo Log-->
      <add key="Insert" value="1"/>
      <add key="InsertError" value="2"/>
      <add key="Delete" value="3"/>
      <add key="DeleteError" value="4"/>
      <add key="Update" value="5"/>
      <add key="UpdateError" value="6"/>
      <add key="Error" value="7"/>
      <add key="Login" value="1002"/>
      <add key="LoginError" value="1003"/>
      <!--Excels/PDFs-->
      <add key="FolderExcel" value="C:\\SistemaGestión\Excels"/>
      <add key="FolderPDF" value="C:\\SistemaGestión\PDFs"/>
      <add key="FolderFacturas" value="C:\\SistemaGestión\Facturas"/>
      <add key="FileExcelClientes" value="Clientes.xlsx"/>
      <add key="FilePdfClientes" value="Clientes.pdf"/>
      <add key="FilePdfProveedores" value="Proveedores.pdf"/>
      <add key="FileExcelProveedores" value="Proveedores.xlsx"/>

      <add key="FileExcelPresupuesto" value="Presupuesto.xlsx"/>
      <add key="FilePdfPresupuesto" value="Presupuesto.pdf"/>
      
      <add key="TelEmpresa" value="Tel.: 4757-4589"/>
      <add key="DirecEmpresa" value="Dirección: Santa Fe 1504, Martinez"/> 
      <add key="NombreEmpresa" value="Empresa Informática SRL."/>

      <add key="rutaImgLogo" value=".../Imagenes/logoPrincipal.png"/>
    

    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="DBGestion" connectionString="metadata=res://*/Model.ModelDB.csdl|res://*/Model.ModelDB.ssdl|res://*/Model.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=dbGestionPP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=dbGestionPP;Integrated Security=True"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <UI.Properties.Settings>
      <setting name="lang" serializeAs="String">
        <value>en.txt</value>
      </setting>
    </UI.Properties.Settings>
  </userSettings>
</configuration>